.container-header
    nav.container.nav
        .navigation
            ul.nav_link.only
                li
                    a(href="#" class="only dark works closse-memu") portfolio
                li
                    a(href="#" class="only dark experiments closse-memu") experiments
                li.ren
                    a(href="#" class="only dark about-me closse-memu about-header") about me
                li.dark-button.dark
                    i(class="fa fa-adjust dark" aria-hidden="true")
    .container.header
        h1.header_title.dark Yura Melnichuk
        .header-span.dark Beginner Frond-end Developer
        buttom.heder-button About me
    include ./headerListAboutMe
    .button-menu
        .body-menu
            .button-menu-line.dark
            .button-menu-line.dark
            .button-menu-line.dark
        i(class="fa fa-adjust dark" aria-hidden="true")

    