footer
    .container.footer
        .footer_icons
            a.footer(href="https://vk.com/id496594396") Vkontacte
            a.footer(href="mailto:yuriy.melnichuk.1998@gmail.com") Gmail
            a.footer(href="https://www.instagram.com/yura_melnichuk_") Instargam
            a.footer(href="https://github.com/Arakyl1") GitHub