.nav_rignt
    ul.navigation_icons
        li
            a(href="https://vk.com/id496594396")
                i(class="fa dark fa-vk" aria-hidden="true")
        li
            a(href="mailto:yuriy.melnichuk.1998@gmail.com")
                i(class="fa dark fa-google-plus-official" aria-hidden="true")
        li
            a(href="https://www.instagram.com/yura_melnichuk_")
                i(class="fa dark fa-instagram" aria-hidden="true")
        li
            a(href="https://github.com/Arakyl1")
                i(class="fa dark fa-github" aria-hidden="true")
