.container_logo
    .text-wrapper
        .text-1.text less is more
        .text-2.text less is more
        .text-3.text less is more
        .text-4.text less is more
        .text-5.text less is more
        .text-6.text less is more
        .text-7.text less is more
        .text-8.text less is more
        .text-9.text less is more
        .text-10.text less is more
        .text-11.text less is more