.about-me-list
    .me-list-cont
        .me-list-left.about.dark
            .left-modale-close-button
                .close-button-about
                    .close-line
                    .close-line
            h2.me-title About Me
            p.list-itamic-p Beginner Frond-end Developer
            p.list-text Я начинающий <span>Frond-end Developer,</span> мне 22 года и я из Беларуси. Немного о моих навыках: хорошие знание <span>HTML, CSS, SCSS(SACC)</span> базовые знания в <span>JS, JQuery.</span> Умею верстать адаптивную, кросбраузерную верстку. Производил натяжку сайта на движок <span>WordPress.</span> При вёрстке использовал графические редакторы <span>PS, Figma</span> и сборщик <span>Gulp</span>. Мне было хотелось и дальше развиваться в данном направление, а этого можно достичь, только работая над реальными и серьезными проектами.
        .me-list-rignt.dark
            form(action="#" id="form" method="POST" enctype="multipart/form-data")
                input(type="hidden" name="project_name" value="Work")
                input(input type="hidden" name="admin_email" value="yuriy.melnichuk@testhost.h1n.ru")
                input(type="hidden" name="form_subject" value="Form")
                label.name-input
                    input(input id="name" type="text" name="Name")
                    span name
                label.email-input
                    input(id="email" type="email" name="E-mail" class="email")
                    span email
                .coments-textare
                    textarea(class="coment-email" name="text" id="textarea" cols="30")
                    span comments
                .close-button
                    div
                    div
                buttom.button-send to send       